.navbar{
    background: #ffffff;
}
/* 
.hero-section{
 
    margin-top: 60px;
    background-color: aliceblue;
    position:relative;
    border: none;
    

}
.hero-img{
    background-image: url("https://images.deliveryhero.io/image/foodpanda/homepage/refresh-hero-home-pk.png");
    background-size: contain;
    height: 350px;
    width: 40%;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid black ;
}
.card-title{
   font-size:40px;
    margin: 20px 0 0 30px;
    font-weight: 400;
    margin-top:200px;
}
.location-btn{
    border-radius: 10px;
    height:80px ;
    width:550px ;
    border: 1px solid rgb(188, 183, 183);
    margin-top: 80px;
    margin-left: 20px;
    background-color: white;
    padding: 15px 20px 15px 20px;
   
  
   
   
}
.btn-outline-primary{

   
    height: 50px;
    width: 410px;
    text-align: left;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgb(170, 159, 159);
    padding: 10px;
    margin: 2px 0 2px 0 2px;
}
input{
    outline: none;} */